/*------------------
    BUTTONS
------------------*/
.btn {
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 700;
}

.btn-gray {
    background-color: #363636;
}

.btn-red {
    background-color: #cd3d0f;
}

/*------------------
    HEADER
------------------*/
.header-top {
    background-color: black;
    text-align: end;
    padding: 0 10px;
}

.header-top h4 {
    color: white;
    margin: 0;
    font-weight: 400;
    font-family: 'Orelega One';
}

.navbar {
    color: #000;
}

.header-bottom {
    font-weight: 500;
    background-color: #fff;
    z-index: 10;
}


/*------------------
    HERO
------------------*/
.top-hero-section {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    margin-top: 95px;
}

.hero-text {
    padding-top: 300px;
}

.returnal-hero-banner {
    max-width: 40%;
}

/*------------------
    MEDIA QUERY
------------------*/

@media screen and (max-width: 991px) {
    .header-bottom-nav {
        display: none;
    }
}
