/*------------------
    BUTTONS
------------------*/
.btn {
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 700;
}

.btn-gray {
    background-color: #363636;
}

.btn-red {
    background-color: #cd3d0f;
}
/*------------------
    TYPO
------------------*/
.playstation-presentation h5 {
    font-size: 11px;
    margin: 0;
    color: #0072ce;
    font-weight: 700;
}

.gray-text {
    color: #727272;
    font-size: 18px;
}
/*------------------
    HEADER
------------------*/
.header-top {
    background-color: black;
    text-align: end;
    padding: 0 10px;
}

.header-top h4 {
    color: white;
    margin: 0;
    font-weight: 400;
    font-family: 'Orelega One';
}

.navbar {
    color: #000;
}

.header-bottom {
    font-weight: 500;
    background-color: #fff;
    z-index: 10;
}


/*------------------
    HERO
------------------*/
.top-hero-section {
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    margin-top: 95px;
}

.hero-text {
    padding-top: 300px;
}

.returnal-hero-banner {
    max-width: 40%;
}

.game-list-img {
    width: 100%;
    border-radius: 15px;
    padding: 2px;
}

.game-list-img-borded {
    border: 1px solid blue;
}

/*------------------
    PRESENTATION 
------------------*/
.title-presentation {
    padding-bottom: 50px;
}

.console-presentation {
    display: flex;
    align-items: center;
}

/*------------------
    MEDIA QUERY
------------------*/

@media screen and (max-width: 991px) {
    .header-bottom-nav {
        display: none;
    }
}
